/* fondo--*/
body {
    font-size: 18px;
    /*background: white;--*/
    font-family: 'Raleway', sans-serif;


    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,dddeff+40,9dacc6+100 */
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(221,222,255,1) 40%, rgba(157,172,198,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(221,222,255,1) 40%,rgba(157,172,198,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(221,222,255,1) 40%,rgba(157,172,198,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#9dacc6',GradientType=0 ); /* IE6-9 */


}
/* footer--*/
footer
{
    font-size: 15px;
    background: rgb(38, 37, 115);
    text-align:center;
    color: #ffffff;
}
footer p
{
    text-align: justify;
}
ul.redes li
{
    display: inline-block;
}
ul.redes li a
{
    color: #f1c823;
}
.avatar
{
    border: 5px solid rgb(0,0, 83);
    border-radius: 50%;
    float: left;
    height: 100px;
    width: 100px;
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(249, 249, 249);
}
/*login---*/
.card-header {
    color: #fff;
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgb(0, 0, 81) !important;
    border-bottom: 1px solid rgba(0,0,0,.125);}
/*botones--*/
.btn-primary {
    color: #fff;
    background-color: #000065;
    border-color: #000055;
}

.badge-warning {
    color: #000051;
    background-color: #f8cc1ca1;
}
/*letras--*/
a {
    color: #f5cd28;
}